<div class="ss h-screen ">
<form  style="border:1px solid #ccc grid justify-items-center ss ">
    <div class=" mx-[600px]  h-screen w-[400px]  bg-black opacity-80 py-20">
      <h1 class="font-medium text-white justify-items-center mx-[170px]">Sign Up</h1><br>
      <p class="text-white mx-12">Please fill in this form to create an account.</p>br
      <hr>
  
      <label for="email" ><b>Email</b></label>
      <input type="text" class="rounded-lg mx-4" placeholder="Enter Email" name="email" required>
  
      <label for="psw text-white"><b>Password</b></label>
      <input type="password" class="rounded-lg mx-4" placeholder="Enter Password" name="psw" required>
  
      <label for="repeat"><b>Repeat Password</b></label>
      <input type="password" class="rounded-lg mx-4" placeholder="Repeat Password" name="psw-repeat" required>
  <div class="flex py-4">
      <label>
        <input type="checkbox" class="rounded-lg ml-4 " checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
  
      <p class="text-white pr-20">By creating an account you agree to our 
        <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
    </div>
      <div class="flex px-2">
        <button type="button" class="cancelbtn rounded-lg pl-2 ">Cancel</button>
        <button type="submit" class="signupbtn rounded-lg ml-4 px-2">Sign Up</button>
      </div>
    </div>
  </form>
</div>