<div class="ss">
<form >
    <div class="mx-[600px]  h-screen py-8 grid  place-items-center w-[400px]  bg-black opacity-80">
  
    <div class="rounded-lg mx-4">
      <label for="uname" class="text-white"><b>Username</b></label>
      <input type="text" class="rounded-lg" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"class="text-white" ><b>Password</b></label>
      <input type="password" class="rounded-lg" placeholder="Enter Password" name="psw" required>
  
      <button type="submit" class="rounded-lg ">Login</button>
      <label class="flex">
        <input type="checkbox" class="text-white" checked="checked" name="remember"><p class="text-white">Remember me</p> 
      </label>
    </div>
  
    <div class="container mx-8 " >
      <button type="button" class="rounded-lg w-4 bg-red cancelbtn">Cancel</button>
      <span class="text-white">Forgot <a href="#">password?</a></span>
    </div>
</div>
  </form>
</div>